.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?

.env

*.pyc
*.pyo
/build/
dist/
/docs/build/output/
*.orig
alembic.ini
.venv
/venv/
*.egg-info
.coverage
coverage.xml
.tox
*.patch
/scratch
/scratch_test_*
/test_schema.db
/test.cfg
.idea/
.vscode/
.pytest_cache/
/docs/build/_build/
/pysqlite_test_schema.db
*.sqlite3